@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --color-background: #ffffff;
  --color-foreground: #2c353d;
  --color-primary: #525ceb;
  --color-primary-hover: #4147bb;
  --color-secondary: #78a083;
  --color-secondary-hover: #658c6f;
  --color-muted: #f3f4f6;
  --color-border: #e5e7eb;
}

[data-theme='dark'] {
  /* Dark theme */
  --color-background: #18181b;
  --color-foreground: #e4e4e7;
  --color-primary: #525ceb;
  --color-primary-hover: #6369ee;
  --color-secondary: #78a083;
  --color-secondary-hover: #89b194;
  --color-muted: #27272a;
  --color-border: #3f3f46;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}
